*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    margin: 0;
}

nav{
    height: 70px;
    display: flex;
    box-shadow:0px 3px 7.5px rgba(0,0,0,0.1) ;
}.nav-logo{
    max-width: 150px;
}
.hero-image{
    position: absolute;
    width: 395.91px;
    height: 232px;
    left: 77px;
    top: 96px;
    align-items: center;
}